.container {
  padding-top: 30px;
}

.leftContainer {
  text-align: left;
  margin-left: 5%;
}

.rightContainer {
  text-align: right;
  margin-right: 5%;
}

.title {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.subtitle {
  font-size: 25px;
  color: white;
}
